@import "tailwindcss";

body {
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Custom cursor styles removed */

.dark body {
    background-color: #000000;
    color: #f8f9fa;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.dark ::-webkit-scrollbar-track {
    background: #111827;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
}

.dark ::-webkit-scrollbar-thumb {
    background: #374151;
}

::-webkit-scrollbar-thumb:hover {
    background: #999;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}